.chatWrapper {
    padding: 10px;
    max-width: 600px; /* 기본 최대 너비 */
    margin: 0 auto;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* 태블릿 대응 (768px 이하) */
@media screen and (max-width: 768px) {
    .chatWrapper {
        max-width: 400px; /* 태블릿에서는 최대 너비를 400px로 설정 */
        font-size: 1rem;
    }
}

/* 스마트폰 대응 (480px 이하) */
@media screen and (max-width: 480px) {
    .chatWrapper {
        max-width: 90%; 
        font-size: 0.8rem;
    }
}

/* 스마트폰 대응 (480px 이하) */
@media screen and (max-width: 320px) {
    .chatWrapper {
        max-width: 90%; 
        font-size: 0.7rem;
    }
}
