.inputContainer {
    gap: 5px;
    width: 100%;
    max-width: 550px; /* 최대 너비 설정 */
    padding: 5px;
    z-index: 1000;
  }
  
  .inputField {
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #ccc;
    font-size: 15px;
  }
  
  .inputButton {
    padding: 10px;
    border-radius: 40px;
    border: none;
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  
  /* 미디어 쿼리: 화면 너비가 480px 이하일 때 */
  @media (max-width: 480px) {
    .inputContainer {
      width: 100%; /* 작은 화면에서는 너비를 100%로 설정 */
    }
  
    .inputField {
      font-size: 15px;
    }
  
    .inputButton {
      max-width: 60px;
      font-size: 14px;
    }
  }
  
  /* 미디어 쿼리: 화면 너비가 480px 초과일 때 */
  @media (max-width: 768px) {
    .inputContainer {
      max-width: 400px /* 최대 너비 유지 */
    }
  
    .inputField {
      font-size: 14px;
    }
  
    .inputButton {
      max-width: 80px;
      font-size: 13px;
    }
  }
  